#about
    .about-header 
        h1 Hotspot Machine Gun
    .about-desc 
        p It is a vending machine that can provide faster Internet connection for you anytime anywhere.
    .why-use
        p You should use Hotspot Machine Gun because:
        ul
            li Limited connection of other ISP in certain places
            li You need a better Internet connection
            li An affordable packages price for students
    .how-to.pure-g
        .pure-u-1
            p To use it, you just have to:
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.box
            i(aria-hidden='true').fa.fa-hand-pointer-o
            span 1 - Choose your data package
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.box
            i(aria-hidden='true').fa.fa-money
            span 2 - Pay for it
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.box
            i(aria-hidden='true').fa.fa-key
            span 3 - Get password for Internet connection
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.box
            i(aria-hidden='true').fa.fa-globe
            span 4 - Surf the Internet to your heart content
