.goals.pure-g
    .pure-u-1
        h1 Goals
    .pure-u-1.pure-u-sm-1.pure-u-md-1-3.box
            h2 Short-term
            p To provide machines inside the buildings of IIUM
    
    .pure-u-1.pure-u-sm-1.pure-u-md-1-3.box
            h2 Intermediate
            p To provide machines in other universities
    
    .pure-u-1.pure-u-sm-1.pure-u-md-1-3.box
            h2 Long-term
            p To spread the usage of the machines to wider and more areas
