header#bf-header
    .bf-brand
        a(href='http://www.syahmifauzi.com/info1501') Hotspot Machine Gun 
            i(aria-hidden='true').fa.fa-wifi
    .bf-nav
        ul
            li: a(href='#about') About
            li: a(href='#vismis') Vision
            li: a(href='#vismis') Mission
            li: a(href='#goals') Goals
            li: a(href='#oc') Organization Charts
    .bf-nav-toggler
        span
        span
        span
