.oc.pure-g
    .pure-u.pure-u-1
        h1 Organizational Charts
        .oc-box
            .oc-img
                img(src="http://www.syahmifauzi.com/info1501/assets/img/syahmi.jpg", alt="Syahmi")
            .oc-pos
                h2 Syahmi Fauzi
                p Manager
            .oc-js
                ul
                    li Planning, organizing, leading and controlling organization
                    li Guide employees
        
    .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.u-padding
        .oc-box
            .oc-img
                img(src="http://www.syahmifauzi.com/info1501/assets/img/hazmi.jpg", alt="Hazmi")
            .oc-pos
                h2 Hazmi
                p Technician
            .oc-js
                ul
                    li Troubleshoot and finds permanent solutions to recover machine issues
                    li Conducts monthly inspection
        
    .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.u-padding
        .oc-box
            .oc-img
                img(src="http://www.syahmifauzi.com/info1501/assets/img/izzat.jpg", alt="Izzat")
            .oc-pos
                h2 Izzat
                p Marketing
            .oc-js
                ul
                    li Manage strategies and setup
                    li Generate ideas to promote the business
                    li Create product content
                    li Stay up-to-date with marketing trends
        
    .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.u-padding
        .oc-box
            .oc-img
                img(src="http://www.syahmifauzi.com/info1501/assets/img/syaza.jpg", alt="Syaza")
            .oc-pos
                h2 Syaza
                p Finance
            .oc-js
                ul
                    li Provide financial records of business transactions, flows of finance
    
    .pure-u-1.pure-u-sm-1-2.pure-u-md-1-4.u-padding
        .oc-box
            .oc-img
                img(src="http://www.syahmifauzi.com/info1501/assets/img/syafiq.jpg", alt="Syafiq")
            .oc-pos
                h2 Syafiq Asyraf
                p Spokeperson
            .oc-js
                ul
                    li Deal with ISP, factory, mahallah/kuliyyah, and anything related
