.vismis
    .vision
        h1 Vision
        p Reachable Internet connection anytime anywhere
    .mission
        h1 Mission
        p
            ul
                li Place hotspot machines at every building in IIUM
                li To provide IIUM community with WiFi anywhere?
                li Hotspot Machine launched day
