<div id="about">
    <div class="about-header">
        <h1>Hotspot Machine Gun</h1>
    </div>
    <div class="about-desc">
        <p>It is a vending machine that can provide faster Internet connection for you anytime anywhere.</p>
    </div>
    <div class="why-use">
        <p>You should use Hotspot Machine Gun because:</p>
        <ul>
            <li>Limited connection of other ISP in certain places</li>
            <li>You need a better Internet connection</li>
            <li>An affordable packages price for students</li>
        </ul>
    </div>
    <div class="how-to pure-g">
        <div class="pure-u-1">
            <p>How to use it?</p>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 box"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i><span>1 - Choose your data package</span></div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 box"><i class="fa fa-money" aria-hidden="true"></i><span>2 - Pay it</span></div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 box"><i class="fa fa-key" aria-hidden="true"></i><span>3 - Get password for Internet connection</span></div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 box"><i class="fa fa-globe" aria-hidden="true"></i><span>4 - Surf the your heart content</span></div>
    </div>
</div>