<div class="goals pure-g">
    <div class="pure-u-1">
        <h1>Goals</h1>
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 box">
        <h2>Short-term</h2>
        <p>To provide machines inside the buildings of IIUM</p>
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 box">
        <h2>Intermediate</h2>
        <p>To provide machines in other universities</p>
    </div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 box">
        <h2>Long-term</h2>
        <p>To spread the usage of the machines to wider and more areas</p>
    </div>
</div>