<header id="bf-header">
    <div class="bf-brand"><a href="http://www.syahmifauzi.com/info1501">Hotspot Machine Gun <i class="fa fa-wifi" aria-hidden="true"></i></a></div>
    <div class="bf-nav">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#vismis">Vision</a></li>
            <li><a href="#vismis">Mission</a></li>
            <li><a href="#goals">Goals</a></li>
            <li><a href="#oc">Organization Charts</a></li>
        </ul>
    </div>
    <div class="bf-nav-toggler"><span></span><span></span><span></span></div>
</header>