.goals {
    font-size: 1ram;
    padding: 5em 1em;
    text-align: center;
    font-family: $secondary-font;
    h1 {
        color: $base-color;
        margin-bottom: 1.5em;
    }
    .box {
        padding: 0 1em;
    }
}
